
html{
    border:none;
    background-color: #777;
}
body{
	margin:0 auto;
	margin-top: 3%;
	margin-left: 3%;
	text-align:left; 
}

#clock_container{
    position:absolute;
    margin-top: 20%;
    width: 90%;
}
.words, .colons{
    font-family: 'Montserrat'
    font-size: 4em;
}
.words{
    color: white;
}